html {
  background-color: #b0e0e6;
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #ff7f50;
  padding: 0 auto;
}
h1 {
  margin: 0 200px;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 1px 1px 1px black;
}
div{
  width: 1200px;
  margin: 0 auto;
  background-color: #ff7f50;
  padding: 0 auto;
}
button{
  margin:0 100px 200px;
}

 